.pull-left {
    float: left!important;
}

.m-a-left {
	margin-left: 20px! important;
}
.m-b-left {
    margin-left: 10px!important;
}
	
.m-c-left {
	margin-left: 80px!important;
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.air-card {
    -webkit-box-shadow: 0 0 0 2px #e0e0e0;
    box-shadow: 0 0 0 2px #e0e0e0;
    background-color: #fff;
    margin: 10px -10px;
	padding-top: 20px;
    padding-left: 30px;
}

.col-md-3 {
	padding: 5%;
}

.m-d-left{
	padding: 5px! important;
}