<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12 ml-auto mr-auto text-center">
            <h2 class="discover-title"><small>Completed jobs</small></h2>
          </div>
        </div>
          <mat-card *ngFor="let completeJob of jobs" class="job-card">
            <mat-card-header>
              <mat-card-title>{{completeJob.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{completeJob.description}}
              </p>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div>
</div>
