
<div class="wrapper settings">
<div class="container">
<!--<div class="input-field col s12" *ngIf="loggedIn">-->
  <!--<input class="input-field col s12" id="newPass" type="text" #newPass/>-->
  <!--<input class="input-field col s12" id="retypeNewPass" type="text" #retypeNewPass/>-->
  <!--<a class="waves-effect waves-light btn" (click)="savePass(newPass.value, retypeNewPass.value)">Save</a>-->
<!--</div>-->

</div>
</div>



<div class="wrapper settings">
  <div class="page-header page-header-xs settings-background"
       style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>
  <div class="wrapper settings">
    <div class="container">
      <div class="input-field col s12">
        <div>We will send you an e-mail to reconfigure your password</div>
        <input class="input-field col s12" id="email" type="text" #email placeholder="Your e-mail"/>
        <button id="mailButton" class="btn btn-danger btn-block btn-round" (click)="sendPasswordMail(email.value)">Send e-mail</button>
      </div>
      <!--<div *ngIf="!samePass">Password mismatch</div>-->
      <div *ngIf="sentEmail">Email sent</div>
    </div>
  </div>
</div>
