<div class="wrapper settings">
  <div class="page-header page-header-xs settings-background"
       style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>
<div class="wrapper settings">
  <div class="container">
    <div class="input-field col s12">
      <div>Input new password</div>
      <input class="input-field col s12" id="newPassword" type="text" #newPassword placeholder="Your new password"/>
      <button id="changeButton" class="btn btn-danger btn-block btn-round" (click)="changePassword(newPassword.value)">Change password</button>
    </div>
  </div>
</div>
</div>
